BRIDGE_HOST=
BRIDGE_PORT=
BRIDGE_SECURITY_MODE=
VITE_APP_ENV=
VITE_APP_NAME=
VITE_APP_VERSION=
VITE_BRIDGE_URL=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_APP_CHECK_SITE_KEY=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_RPC_ARBITRUM_MAINNET=
VITE_RPC_BASE_MAINNET=
VITE_RPC_ETHEREUM_MAINNET=
VITE_RPC_POLYGON_MAINNET=
VITE_RPC_RUSTCHAIN_TESTNET=